.App{
  display: flex;
  flex-direction: row;
}
header{
  background-color: #ffb5b5;
  width: 70vw;
  height: 20vh;
}
footer{
  background-color: #bcd7ff;
  width: 70vw;
  height: 20vh;
}
main{
  height: 60vh;
}
nav{
  background-color: #afafaf;
  height: 100vh;
  width: 30vw;
}